---
---

<!doctype html>
<html lang="en">
  <head>
    <title>Emoji CSS</title>
    <meta charset="utf-8">
    <meta property="og:title" content="Emoji CSS" />
    <meta property="og:image" content="/emoji/thumbsup.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iamthenewking.github.io/e/" />
    <link rel="shortcut icon" href="public/favicon.ico"/>
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="emoji.css" rel="stylesheet">
    <link href="public/style.css" rel="stylesheet">
  </head>
  <body id="content">
    <div id="header">
      <h1>Emoji CSS</h1>
      <input class="search" placeholder="Instant Search">
    </div>
    <p>
      Want to include emoji in your HTML? Just include the (minified) stylesheet below, then add <code>&lt;i&gt;</code> tags to insert emoji. That's it!<br>
      &#x2708; <b>Click the emoji code and it will be copied to your clipboard.</b>
    </p>
{% highlight html %}
<link href="https://iamthenewking.github.io/e/emoji.css" rel="stylesheet">

{% assign emoji=site.data.emoji[104] %}{% include emoji-icon.html %}

{% endhighlight %}
    <p>
      By default, the emoji will be served as PNGs. To use SVG instead, use the <code>em-svg</code> class instead of <code>em</code>. This will scale better, but has larger file size.
    </p>
    <ul class="emojis">
      {% for emoji in site.data.emoji %}
        {% capture clipboard_text %}{% include emoji-icon.html %}{% endcapture %}
        <li class="emoji" data-clipboard-text="{{ clipboard_text | replace:'"','&quot;' | replace:'<','&lt;' | replace:'>','&gt;' }}">
          {% include emoji.html %}
        </li>
      {% endfor %}
    </ul>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="public/script.js"></script>
  </body>
</html>
